APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/CodeChunks.db
APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/SemanticSymbols.db
APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
APP/taskMaster/.vs/taskMaster/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
APP/taskMaster/.vs/taskMaster/FileContentIndex/a78350b8-2770-4914-b637-f10bf9471942.vsidx
APP/taskMaster/.vs/taskMaster/FileContentIndex/ab592796-7ad2-43ca-9744-9ce15d49eab0.vsidx
APP/taskMaster/.vs/taskMaster/FileContentIndex/b8237b31-d11f-411f-a07c-3e72a04316e1.vsidx
APP/taskMaster/.vs/taskMaster/FileContentIndex/b98480f6-f1a5-4c86-92eb-7a21b3673678.vsidx
APP/taskMaster/.vs/taskMaster/FileContentIndex/f55ae593-852e-44f7-9095-ec5bcb924bff.vsidx
APP/taskMaster/.vs/taskMaster/copilot-chat/f70ee86b/sessions/429feddd-70be-4098-9a7b-1be4b52b15e5
APP/taskMaster/.vs/taskMaster/v17/.suo
APP/taskMaster/.vs/taskMaster/v17/DocumentLayout.backup.json
APP/taskMaster/.vs/taskMaster/v17/DocumentLayout.json
APP/taskMaster/obj/*
APP/baseConnection/*
